@import "~antd/lib/style/themes/default.less";

:root {
  --primary: #6f00ed;
  --secondary: #373a3c;
  --tertiary: #1b222a;
  --basic: #4a8fdc4d;
  --font-color: #fff;
  //   --forth: #212A35;
  //   --chosen-color: #273b53;
  --success: #28b73d;
  --info: #9954bb;
  --warning: #f1d330;
  --danger: #ee4b51;

  --gray-dark: #373a3c;
  --text-alt: #c0c0c0;
  --border-color: #545860;
  --border-color-second: #495057;
  --text: #fff;
  --text-gradient-2: #090a14;
  --text-gradient-1: #6f00ed;
  --bg-color: linear-gradient(#090a14, #42228f);

  --body-fonts: "Open Sans", "Segoe UI", "Source Sans Pro", Calibri, Candara,
    Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
